<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>IRB_120_3kg_0.58m</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\korisnik\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.08.0134" name="RobotWare" version="6.08.0134">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
    <Option descr="709-1 DeviceNet Master/Slave">
    </Option>
    <Option descr="687-1 Advanced Robot Motion">
    </Option>
    <Option descr="616-1 PC Interface">
    </Option>
    <Option descr="614-1 FTP SFTP and NFS client">
    </Option>
    <Option descr="617-1 FlexPendant Interface">
    </Option>
    <Option descr="623-1 Multitasking">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 120-3/0.6">
    </Option>
  </DriveModule>
</SystemProperties>